<li id="micropost-<%= micropost.id %>">
    <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.image, width: 400 if micropost.image.attached? %>
  </span>
  <span class="timestamp">
    <%= "Posted #{time_ago_in_words(micropost.created_at)} ago." %>
    <% if current_user?(micropost.user) %>
      <%= link_to "Delete", micropost_path , method: :delete, data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>
Comments:
<br/>
<% micropost.comments.each do |comment| %>
  <div>
    <span class="user">
    <%= link_to gravatar_for(comment.user, size: 50), comment.user %>
    <%= comment.user.name %>
    </span>
    <br>
    <span class="content">
      <%= comment.content %>
    </span>
    <br />
    <span class="timestamp text-success">
      <%= "Commented #{time_ago_in_words(comment.created_at)} ago." %>
      <% if current_user == comment.user %>
      <%= link_to "Delete", comment , method: :delete, data: {confirm: "You sure?"} %>
      <% end %>
    </span>
  </div>
<% end %>


<span id="form-status">
    <%= form_for Comment.new , remote: true do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
        <div class="field">
          <%= f.hidden_field :micropost_id, value: micropost.id %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.text_area :content, placeholder: "Compose new comment...", class: "form-control" %>
        </div>
      <%= f.submit "Comment", class: "btn btn-primary" %>
    <% end %>
</span>


